<div *ngIf="!user">Cargando...</div>

<div *ngIf="!!user">
  <section>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
        <h6 class="card-title">{{ user.email }}</h6>
        <img
          src="https://lh3.googleusercontent.com/a-/AFdZucppy5hKd198gCNc7ISLW8UJEVOMj4d5JwnVMF74xQ=s288-p-rw-no"
          class="img-thumbnail"
          style="height: 100px"
        />
        <button
          type="button"
          class="btn btn-info"
          data-bs-toggle="modal"
          data-bs-target="#infoModal"
          (click)="setModalInfo(user)"
          *ngIf="authService.isLoggedIn"
        >
          <i class="bi-pencil" style="color: white"></i>
        </button>
      </div>
    </div>
  </section>
  <app-about data="{{ user.description }}"></app-about>
  <section>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title">Experiencia</h5>
          </div>
          <div class="col">
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#experienceModal"
              (click)="setModalExperience({})"
              *ngIf="authService.isLoggedIn"
            >
              <i class="bi-plus"></i>
            </button>
          </div>
        </div>
        <app-experience-row
          *ngFor="
            let item of user.experiences;
            index as i;
            trackBy: experienceTrackBy
          "
          [experience]="item"
          [index]="i"
          [onDelete]="handleDeleteExperience"
          [onEdit]="handleEditExperience"
          [isLoggedIn]="authService.isLoggedIn"
        ></app-experience-row>
      </div>
    </div>
  </section>
  <section>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title">Educación</h5>
          </div>
          <div class="col">
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#educationModal"
              (click)="setModalEducation({})"
              *ngIf="authService.isLoggedIn"
            >
              <i class="bi-plus"></i>
            </button>
          </div>
        </div>
        <app-education-row
          *ngFor="
            let item of user.educations;
            index as i;
            trackBy: educationTrackBy
          "
          [education]="item"
          [index]="i"
          [onDelete]="handleDeleteEducation"
          [onEdit]="handleEditEducation"
          [isLoggedIn]="authService.isLoggedIn"
        ></app-education-row>
      </div>
    </div>
  </section>
  <section>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title">Habilidades duras y blandas</h5>
          </div>
          <div class="col">
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#skillModal"
              (click)="setModalSkill({ percentage: 0 })"
              *ngIf="authService.isLoggedIn"
            >
              <i class="bi-plus"></i>
            </button>
          </div>
        </div>
        <app-skill-row
          *ngFor="let item of user.skills; index as i; trackBy: skillTrackBy"
          [skill]="item"
          [index]="i"
          [onDelete]="handleDeleteSkill"
          [onEdit]="handleEditSkill"
          [isLoggedIn]="authService.isLoggedIn"
        ></app-skill-row>
      </div>
    </div>
  </section>
  <section>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title">Idiomas</h5>
          </div>
          <div class="col">
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#languageModal"
              (click)="setModalLanguage({ percentage: 0 })"
              *ngIf="authService.isLoggedIn"
            >
              <i class="bi-plus"></i>
            </button>
          </div>
        </div>
        <app-language-row
          *ngFor="
            let item of user.languages;
            index as i;
            trackBy: languageTrackBy
          "
          [language]="item"
          [index]="i"
          [onDelete]="handleDeleteLanguage"
          [onEdit]="handleEditLanguage"
          [isLoggedIn]="authService.isLoggedIn"
        ></app-language-row>
      </div>
    </div>
  </section>
  <section>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title">Proyectos</h5>
          </div>
          <div class="col">
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#projectModal"
              (click)="setModalProject({})"
              *ngIf="authService.isLoggedIn"
            >
              <i class="bi-plus"></i>
            </button>
          </div>
        </div>
        <app-project-row
          *ngFor="
            let item of user.projects;
            index as i;
            trackBy: projectTrackBy
          "
          [project]="item"
          [index]="i"
          [onDelete]="handleDeleteProject"
          [onEdit]="handleEditProject"
          [isLoggedIn]="authService.isLoggedIn"
        ></app-project-row>
      </div>
    </div>
  </section>

  <div class="row">
    <div class="col">
      <button
        class="btn btn-success"
        type="button"
        (click)="updateUser()"
        *ngIf="authService.isLoggedIn"
      >
        <i class="bi-save"></i>
      </button>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="languageModal"
  tabindex="-1"
  aria-labelledby="languageModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="languageModalLabel">
          Agregar / Editar Idioma
        </h5>
        <button
          type="button"
          class="btn-Cerrar"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="language">Idioma</label>
          <input
            type="text"
            class="form-control"
            id="language"
            placeholder="Language"
            [(ngModel)]="modalLanguage.language"
          />
        </div>
        <div class="form-group">
          <label for="percentage">Porcentaje</label>
          <input
            type="number"
            class="form-control"
            id="percentage"
            placeholder="Porcentaje"
            [(ngModel)]="modalLanguage.percentage"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="setModalLanguage({ percentage: 0 })"
        >
          Cerrar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="handleAddLanguage()"
        >
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="skillModal"
  tabindex="-1"
  aria-labelledby="skillModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="skillModalLabel">
          Agregar / Editar Habilidad
        </h5>
        <button
          type="button"
          class="btn-Cerrar"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="title">Título</label>
          <input
            type="text"
            class="form-control"
            id="title"
            placeholder="Título"
            [(ngModel)]="modalSkill.title"
          />
        </div>
        <div class="form-group">
          <label for="percentage">Porcentaje</label>
          <input
            type="number"
            class="form-control"
            id="percentage"
            placeholder="Porcentaje"
            [(ngModel)]="modalSkill.percentage"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="setModalSkill({ percentage: 0 })"
        >
          Cerrar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="handleAddSkill()"
        >
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="infoModal"
  tabindex="-1"
  aria-labelledby="infoModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="infoModalLabel">Editar Información</h5>
        <button
          type="button"
          class="btn-Cerrar"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="firstName">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            placeholder="Nombre"
            [(ngModel)]="modalInfo.first_name"
          />
        </div>
        <div class="form-group">
          <label for="lastName">Apellido</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            placeholder="Apellido"
            [(ngModel)]="modalInfo.last_name"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            class="form-control"
            id="email"
            placeholder="Email"
            [(ngModel)]="modalInfo.email"
          />
        </div>
        <div class="form-group">
          <label for="about">Acerca de</label>
          <input
            type="text"
            class="form-control"
            id="about"
            placeholder="Acerca de"
            [(ngModel)]="modalInfo.description"
          />
        </div>
        <div class="form-group">
          <label for="age">Edad</label>
          <input
            type="number"
            class="form-control"
            id="age"
            placeholder="Edad"
            [(ngModel)]="modalInfo.age"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="setModalInfo({})"
        >
          Cerrar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="handleSaveInfo()"
        >
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="educationModal"
  tabindex="-1"
  aria-labelledby="educationModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="educationModalLabel">
          Agregar / Editar Educación
        </h5>
        <button
          type="button"
          class="btn-Cerrar"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="title">Título</label>
          <input
            type="text"
            class="form-control"
            id="title"
            placeholder="Título"
            [(ngModel)]="modalEducation.title"
          />
        </div>
        <div class="form-group">
          <label for="description">Descripción</label>
          <input
            type="text"
            class="form-control"
            id="description"
            placeholder="Descripción"
            [(ngModel)]="modalEducation.description"
          />
        </div>
        <div class="form-group">
          <label for="imageUrl">URL Imagen</label>
          <input
            type="text"
            class="form-control"
            id="imageUrl"
            placeholder="URL Imagen"
            [(ngModel)]="modalEducation.imageUrl"
          />
        </div>
        <div class="form-group">
          <label for="initDate">Fecha de inicio</label>
          <input
            type="text"
            class="form-control"
            id="initDate"
            placeholder="Fecha de inicio"
            [(ngModel)]="modalEducation.init_date"
          />
        </div>
        <div class="form-group">
          <label for="endDate">Fecha de fin</label>
          <input
            type="text"
            class="form-control"
            id="endDate"
            placeholder="Fecha de fin"
            [(ngModel)]="modalEducation.end_date"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="setModalEducation({})"
        >
          Cerrar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="handleAddEducation()"
        >
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="experienceModal"
  tabindex="-1"
  aria-labelledby="experienceModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="experienceModalLabel">
          Agregar / Editar Experiencia
        </h5>
        <button
          type="button"
          class="btn-Cerrar"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="title">Título</label>
          <input
            type="text"
            class="form-control"
            id="title"
            placeholder="Título"
            [(ngModel)]="modalExperience.title"
          />
        </div>
        <div class="form-group">
          <label for="description">Descripción</label>
          <input
            type="text"
            class="form-control"
            id="description"
            placeholder="Descripción"
            [(ngModel)]="modalExperience.description"
          />
        </div>
        <div class="form-group">
          <label for="imageUrl">URL Imagen</label>
          <input
            type="text"
            class="form-control"
            id="imageUrl"
            placeholder="URL Imagen"
            [(ngModel)]="modalExperience.imageUrl"
          />
        </div>
        <div class="form-group">
          <label for="initDate">Fecha de inicio</label>
          <input
            type="text"
            class="form-control"
            id="initDate"
            placeholder="Fecha de inicio"
            [(ngModel)]="modalExperience.init_date"
          />
        </div>
        <div class="form-group">
          <label for="endDate">Fecha de fin</label>
          <input
            type="text"
            class="form-control"
            id="endDate"
            placeholder="Fecha de fin"
            [(ngModel)]="modalExperience.end_date"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="setModalExperience({})"
        >
          Cerrar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="handleAddExperience()"
        >
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="projectModal"
  tabindex="-1"
  aria-labelledby="projectModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="projectModalLabel">
          Agregar / Editar Proyecto
        </h5>
        <button
          type="button"
          class="btn-Cerrar"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="title">Título</label>
          <input
            type="text"
            class="form-control"
            id="title"
            placeholder="Título"
            [(ngModel)]="modalProject.title"
          />
        </div>
        <div class="form-group">
          <label for="description">Descripción</label>
          <input
            type="text"
            class="form-control"
            id="description"
            placeholder="Descripción"
            [(ngModel)]="modalProject.description"
          />
        </div>
        <div class="form-group">
          <label for="link">Link</label>
          <input
            type="text"
            class="form-control"
            id="link"
            placeholder="Link"
            [(ngModel)]="modalProject.link"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="setModalProject({})"
        >
          Cerrar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="handleAddProject()"
        >
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
