<div class="row" style="margin-bottom: 10px; margin-top: 10px">
  <div class="col">
    <p>{{ language.language }}</p>
  </div>
  <div class="col">
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped"
        role="progressbar"
        [style.width]="language.percentage + '%'"
        [attr.aria-valuenow]="language.percentage"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
  </div>

  <div class="col">
    <button
      class="btn btn-info"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#languageModal"
      (click)="onEdit(language)"
      *ngIf="isLoggedIn"
    >
      <i class="bi-pencil" style="color: white"></i>
    </button>
  </div>
  <div class="col">
    <button
      class="btn btn-danger"
      type="button"
      (click)="onDelete(index)"
      *ngIf="isLoggedIn"
    >
      <i class="bi-trash"></i>
    </button>
  </div>
</div>
