<div class="row">
  <div class="col">
    <p>{{ skill.title }}</p>
  </div>
  <div class="col">
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped"
        role="progressbar"
        [style.width]="skill.percentage + '%'"
        [attr.aria-valuenow]="skill.percentage"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
  </div>

  <div class="col">
    <button
      class="btn btn-info"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#skillModal"
      (click)="onEdit(skill)"
      *ngIf="isLoggedIn"
    >
      <i class="bi-pencil" style="color: white"></i>
    </button>
  </div>
  <div class="col">
    <button
      class="btn btn-danger"
      type="button"
      (click)="onDelete(index)"
      *ngIf="isLoggedIn"
    >
      <i class="bi-trash"></i>
    </button>
  </div>
</div>
