<div class="row" style="margin-bottom: 10px; margin-top: 10px">
  <div class="col">
    <img
      [src]="experience.image_url"
      class="img-thumbnail"
      style="height: 100px"
    />
    <img src="" />
  </div>
  <div class="col">
    <h6>{{ experience.title }}</h6>
    <div>{{ experience.description }}</div>
    <div>Desde: {{ experience.init_date }}</div>
    <div>Hasta: {{ experience.end_date }}</div>
  </div>
  <div class="col">
    <button
      class="btn btn-info"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#experienceModal"
      (click)="onEdit(experience)"
      *ngIf="isLoggedIn"
    >
      <i class="bi-pencil" style="color: white"></i>
    </button>
  </div>
  <div class="col">
    <button
      class="btn btn-danger"
      type="button"
      (click)="onDelete(index)"
      *ngIf="isLoggedIn"
    >
      <i class="bi-trash"></i>
    </button>
  </div>
</div>
