<div class="row">
  <div class="col">
    <p>{{ experience.title }}</p>
    <div>{{ experience.description }}</div>
    <img src="" />
    <div>{{ experience.init_date }}</div>
    <div>{{ experience.end_date }}</div>
  </div>
  <div class="col">
    <button
      class="btn btn-info"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#experienceModal"
      (click)="onEdit(experience)"
    >
      <i class="bi-pencil" style="color: white"></i>
    </button>
  </div>
  <div class="col">
    <button class="btn btn-danger" type="button" (click)="onDelete(index)">
      <i class="bi-trash"></i>
    </button>
  </div>
</div>
