<div class="row">
  <div class="col">
    <p>{{ education.title }}</p>
    <div>{{ education.description }}</div>
    <img src="" />
    <div>{{ education.init_date }}</div>
    <div>{{ education.end_date }}</div>
  </div>
  <div class="col">
    <button
      class="btn btn-info"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#educationModal"
      (click)="onEdit(education)"
      *ngIf="isLoggedIn"
    >
      <i class="bi-pencil" style="color: white"></i>
    </button>
  </div>
  <div class="col">
    <button
      class="btn btn-danger"
      type="button"
      (click)="onDelete(index)"
      *ngIf="isLoggedIn"
    >
      <i class="bi-trash"></i>
    </button>
  </div>
</div>
