<div class="row" style="margin-bottom: 10px; margin-top: 10px">
  <div class="col">
    <h6>{{ project.title }}</h6>
    <div>
      <a [href]="project.link" target="_blank">{{ project.link }}</a>
    </div>
    <div>{{ project.description }}</div>
  </div>
  <div class="col">
    <button
      class="btn btn-info"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#projectModal"
      (click)="onEdit(project)"
      *ngIf="isLoggedIn"
    >
      <i class="bi-pencil" style="color: white"></i>
    </button>
  </div>
  <div class="col">
    <button
      class="btn btn-danger"
      type="button"
      (click)="onDelete(index)"
      *ngIf="isLoggedIn"
    >
      <i class="bi-trash"></i>
    </button>
  </div>
</div>
